.component {
  height: 100vh;
  padding: 0;
}

.margin {
  margin: 10px 120px;
}
.button {
  padding: 8px 0;
  margin-bottom: 15px;
}

.white-box {
  background: white;
  border-radius: 30px;
  height: 243px;
  width: 385px;
  transform: skew(10deg);
}
