* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap");
}
.primary-bg {
  background-color: #1334b3;
}
